.container {
    width: 1170px;
    margin: auto;
}
.containerb {
    width: 700px;
    margin: auto;
}

// flex utilities
.flex {
    display: flex;
}
.flexcol {
    display: flex;
    flex-direction: column;
}
.flexright {
    display: flex;
    justify-content: end;
}
.flexbetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flexbetweenc {
    display: flex;
    justify-content: space-between;
}